
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="login-container mt-4" style="max-width: 350px; margin:auto">
        <div class="card shadow-lg p-3">
            <h3 class="card-title text-center fw-bold mb-4">Đăng nhập</h3>
            @using (Html.BeginForm("LoginSubmit", "User", FormMethod.Post))
            {
                <div class="mb-3">
                    <label for="loginEmail" class="form-label">Email</label>
                    <input type="email" name="Email" class="form-control w-100" id="loginEmail" required>
                </div>
                <div class="mb-3">
                    <label for="loginPassword" class="form-label">Mật khẩu</label>
                    <input type="password" name="Password" class="form-control w-100" id="loginPassword" required>
                </div>
                if (Session["Error"] != null)
                {
                    <h6 style="color:red">@Session["Error"]</h6>
                }
                <p class="text-center">
                    Quên mật khẩu? <a href="#" class="text-decoration-none text-warning fw-bold">Click vào đây</a>
                </p>
                <button type="submit" class="btn btn-warning w-100 mb-3" style="border-radius:40px">ĐĂNG NHẬP</button>
                <p class="text-center">
                    Chưa có tài khoản? <a href="@Url.Action("Regist","User")" class="text-decoration-none text-warning fw-bold">Đăng ký ngay</a>
                </p>
            }

        </div>
    </div>
</div>










